*{padding: 0; margin: 0;box-sizing: border-box;}
.chitiet{
    margin-top: 15px;
}
.trai img{
    width: 600px;
    float: left;
}

.phai{
    width: 390px;
    float: left;
}
.box04 {
    margin-top: 0;
    margin-left: 20px;
}
.box04__txt {
    line-height: 16px;
    margin-bottom: 10px;
}
.price-one {
    margin-bottom: 10px;
}
.box-price-present {
    color: #d0021c;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
}
.box-price-old {
    color: #666;
    font-size: 16px;
    text-decoration-line: line-through;
    display: inline-block;
    vertical-align: top;
}
.box-price-percent {
    color: #d0021c;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
}
.label--black {
    background-color: #f1f1f1;
    color: #333;
}
.label {
    border-radius: 2px;
    display: inline-block;
    font-size: 14px;
    line-height: 12px;
    margin-right: 10px;
    padding: 3px 8px;
    vertical-align: top;
}
.block__promo {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.pr-top {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 10px;
}
.block__promo {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.pr-txtb {
    font-weight: bold;
}
.pr-top .pr-txt {
    color: #666;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 5px;
    font-style: normal;
}
.pr-content .pr-item:last-child {
    border: none;
}
.pr-content .pr-item {
    padding: 15px 10px 10px 10px;
}
.divb {
    margin-bottom: 10px;
}
.divb:last-child {
    margin-bottom: 0;
}
.divb .nb {
    background-color: #4a90e2;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 16px;
}
.divb-right {
    padding-left: 26px;
}
.pr-content .pr-item p {
    line-height: 1.5;
}
.pr-content .pr-item p {
    line-height: 1.5;
}
.divb .circle {
    margin-top: 5px;
    padding-left: 13px;
    position: relative;
}
.divb-right a {
    color: #4a90e2;
}
divb:last-child {
    margin-bottom: 0;
}
.divb .nb {
    background-color: #4a90e2;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 16px;
}
.pr-content .pr-item p {
    line-height: 1.5;
}
.pr-content .pr-item:last-child {
    border: none;
}
.pr-content .pr-item {
    padding: 15px 10px 10px 10px;
}
.block__promo {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.store {
    color: #2f80ed;
    display: inline-block;
    margin-bottom: 10px;
}
.xtoydays {
    border-radius: 5px;
    padding: 0;
    margin-bottom: 10px;
}
.quickdelivery {
    position: relative;
}
.deliverytime>p {
    line-height: 1.5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 5px;
}
.store {
    color: #2f80ed;
    display: inline-block;
    margin-bottom: 10px;
}
.spmarket {
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30000;
    background: #fff;
    position: fixed;
    margin: auto;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    height: 650px;
    max-height: 96vh;
}
.campaign > b {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}
.campaign {
    margin-bottom: 10px;
    padding-top: 12px;
    border-top: 1px solid #E0E0E0;
    white-space: nowrap;
    position: relative;
}
.campaign.c2 > div > div {
    width: calc((100% / 2) - 3px);
}
.campaign > div > div {
    width: calc(30% - 3px);
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 8px 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    position: relative;
}
.campaign > div > div > figure {
    height: 16px;
    position: relative;
    margin-bottom: 6px;
}
.campaign > div > div > * {
    display: block;
    margin-bottom: 2px;
}
.campaign > div > div > figure.vnpayqr > img {
    height: 10px;
}
.campaign > div > div > figure > img {
    max-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.block-button {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.block-button .btn-buynow {
    margin-bottom: 8px;
    display: block;
    padding-left: 0;
    padding-right: 0;
}
.btn-buynow {
    background-color: #fb6e2e;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 15px;
    padding: 14px 10px;
    text-align: center;
}
.btn-ins {
    background-color: #2f80ed;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 7px 0;
    text-align: center;
}
.btn-ins span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
}
.block-button .btn-left {
    float: left;
}
.block-button .btn-ins {
    width: 49%;
}
.btn-ins {
    background-color: #2f80ed;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    padding: 7px 0;
    text-align: center;
}
.btn-ins span {
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin-top: 2px;
}
.block-button .btn-right {
    float: right;
}
.block-button .btn-ins {
    width: 49%;
}
.callorder {
    line-height: 17px;
    text-align: center;
    margin-bottom: 10px;
}
.callorder a {
    color: #2f80ed;
}
.callorder {
    line-height: 17px;
    text-align: center;
    margin-bottom: 10px;
}
.promoadd {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding-bottom: 10px;
    text-align: center;
}
.promoadd__ttl {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
    font-size: 13px;
    line-height: 16px;
    padding: 12px;
    text-align: left;
}
.promoadd__ttl em {
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
}
.promoadd__list {
    padding: 10px;
    text-align: center;
}
.promoadd__list li {
    display: flex;
    margin-bottom: 10px;
    text-align: left;
}
.promo_BHX {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    display: block;
    overflow: hidden;
    margin-left: 5px;
    width: calc(100% - 20px);
}
.icondetail-tick {
    background-position: -275px -20px;
    height: 14px;
    width: 14px;
}
.promoadd__list li p {
    padding: 0 16px 0 8px;
    width: calc(100% - 55px);
    line-height: 1.5;
}
 